.store_wrapper{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}
.store_gallery_wrapper{
   width: 100%;
}
@media screen and (max-width:1000px) {

.store_wrapper{
    flex-direction: column;
}
.store_gallery_wrapper{
    margin-top: 100px;
}
    
}