@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
.subtitle{
    margin-top: 0px;
   font-size: 14px;
   font-weight: 500;
   line-height: 15px;
   padding: 10px 20px;
   text-transform: uppercase;
   display: inline-block;
   margin-bottom: 15px;
   background-color:#2f57ef ;
   color:#2f57ef ;
    border-radius: 100px; 
}
.bg-primary-opacity{
    background: #2f57ef21 !important;
    color: #2f57ef !important;
}
.title{
 
    color: #192335;
    font-size: 40px;
    font-weight: 600;
   margin: 20px auto 50px auto;
    font-family: 'Roboto', sans-serif;
}
.title strong {
    background-image: linear-gradient(90deg, #2f57ef, #b966e7);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
}
.section-subtitle p{
 color: grey;
 font-size: 20px;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
